/.gradle/

/viikko1/tehtavat14-16/NhlStatistics1/.nb-gradle/
/viikko1/tehtavat14-16/NhlStatistics1/.gradle/
/viikko1/tehtavat14-16/NhlStatistics1/build/

/viikko2/tehtava1/.nb-gradle/
/viikko2/tehtava1/.gradle/
/viikko2/tehtava1/build/

/viikko2/Verkkokauppa1/.nb-gradle/
/viikko2/Verkkokauppa1/.gradle/
/viikko2/Verkkokauppa1/build/

/viikko3/tehtavat1-3/nhlreader/.nb-gradle/
/viikko3/tehtavat1-3/nhlreader/.gradle/
/viikko3/tehtavat1-3/nhlreader/build/

/viikko3/tehtavat4-11/HelloCucumber/.nb-gradle/
/viikko3/tehtavat4-11/HelloCucumber/.gradle
/viikko3/tehtavat4-11/HelloCucumber/build/

/viikko3/tehtavat4-11/LoginCucumber/.nb-gradle/
/viikko3/tehtavat4-11/LoginCucumber/.gradle/
/viikko3/tehtavat4-11/LoginCucumber/build/

/viikko3/tehtavat4-11/WebLogin/.nb-gradle/
/viikko3/tehtavat4-11/WebLogin/.gradle/
/viikko3/tehtavat4-11/WebLogin/build/
/viikko3/tehtavat4-11/WebLogin/salasanat.txt
/viikko3/tehtavat4-11/WebLogin/geckodriver-v0.26.0-linux64.tar.gz

/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MocitoDemo/.gradle/
/viikko4/MockitoDemo/build/


/viikko4/MaksukorttiMockito/.nb-gradle/
/viikko4/MaksukorttiMocito/.gradle/
/viikko4/MaksukorttiMockito/build/

/viikko4/Verkkokauppa/.nb-gradle/
/viikko4/Verkkokauppa/.gradle/
/viikko4/Verkkokauppa/build/

/viikko4/IntJoukkoSovellus/.nb-gradle/
/viikko4/IntJoukkoSovellus/build/
/viikko4/IntJoukkoSovellus/.gradle/

/viikko4/Tennis/.nb-gradle/
/viikko4/Tennis/.gradle/
/viikko4/Tennis/build/


/viikko6/.nb-gradle/
/viikko6/.gradle/
/viikko6/build/
